.tabbed {
  display: none;
}

.tab {
  display: flex;
  /*  align-content: stretch;*/
  /*  align-items: stretch;*/
  justify-content: flex-start;
  flex-flow: row nowrap;
  padding: 10px 10px 0 10px;
  width: 100%;
}

.tab {
  border: 2px solid white;
  margin: 20px 0 0 0;
  width: 100%;
}

.tab button {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  font-size: 1em;
  padding: 10px 20px;

}

.tab button.active {
  box-shadow: 3px 3px 3px black inset;
}

.tabcontent {
  background: white;
  padding: 10px;
}


svg {
  background: white;
  cursor: crosshair;
  border: 3px solid black;
  display: block;
  margin: 0 auto;
}

svg * {
  shape-rendering: geometricPrecision;
}

/* Table */

#data-table {
  border: 5px solid #3073b1;
  min-height: 220px;
  overflow: scroll;
/*  resize: both;*/
  margin: 30px 0;
  position: relative;
  box-shadow: 5px 10px 20px black;
  width: 90%;
}

#table-contents {
  position: absolute;
}

#table-head {
  border-bottom: 3px solid #3073b1;
  background-color: white;
  color: #171135;
  font-size: 1em;
  font-weight: bold;
  padding: 5px;
  position: sticky;
  position: -webkit-sticky;
  top:0;
}


#table-body {
  font-size: 0.8em;
  max-height: 200px;
  margin-top: 10px;
/*  overflow: hidden;*/
  resize: both;
}

.row {
  display: flex;
/*  justify-content: center;*/
/*  overflow: auto;*/
  padding-left: 5px;
}

.cell {
  display: inline-block;
  padding: 0;
  min-width: 200px;
}

.even {
  background: #f0efee;
}



#summaries {
  display: flex;
  align-content: space-around;
  align-items: stretch;
  justify-content: center;
  flex-flow: row wrap;
  overflow: auto;
}

.summary {
  background: #171135;
  border: 2px solid white;
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  display: inline-block;
  float: left;
  margin: 8px;
  padding: 15px;
  width: 200px;
}

.summary h3 {
  margin: 0 10px;
  font-size: 1.3em;
  border-bottom: 3px solid #187cce;
  margin-bottom: 0.25em;
  padding-bottom: 0.25em;
  text-align: center;
}

.stat-holder {
  display: inline-block;
  float: left;
  padding-right: 5%;
  width: 45%;
}

.value-holder {
  display: inline-block;
  float: right;
  padding-left: 5%;
  width: 45%;
}

.stats {
  color: white;
  font-size: calc(1.2vw + 4px);
  text-align: right;
}

.values {
  color: #187cce;
  font-size: calc(1.2vw + 4px);
  text-align: left;
}

#visualization label,
#visualization input {
  display: inline-block;
  margin: 10px;
}


