html {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background: #eeebe8;
  font-family: 'Assistant', 'Calibri', "HelveticaNeue-Light", Helvetica, 'Trebuchet MS', sans-serif;
  margin: 0;
  text-rendering: optimizeLegibility;
}


h1,
h2,
h3,
h4 {
  font-family: 'Maitree', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #187cce;
}

h1 {
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h2 {
  font-size: 2.4em;
  margin-bottom: 0;
}

.container {
  position: relative;
  left: 5%;
  width: 85%;
}

section {
  padding: 2em 0;
}

section:first-child {
  padding: 0 0 2em 0;
}


button,
[type='button'],
[type='submit'] {
  border: 2px solid white;
  color: white;
  cursor: pointer;
  padding: 10px;
  background: #187cce;
}

button:hover,
[type='button']:hover,
[type='submit']:hover {
  background: #3acfc7;
}

[type='checkbox'],
[type='radio'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white;
  display: inline-block;
  position: relative;
  color: white;
  top: 10px;
  height: 15px;
  width: 15px;
  border: 2px solid #187cce;
  cursor: pointer;
  outline: none;
}


[type='radio'] {
  border-radius: 50%;
}

[type='radio']:checked {
  border: 5px solid #187cce;
}

[type='checkbox']:checked {
  background: #187cce;

}

[type='checkbox']:checked::before {
  font-family: Arial, sans-serif;
  position: absolute;
  font-weight: bold;
  top: -2px;
  left: 3px;
  content: '\02143';
  transform: rotate(40deg);
}




/* Externally Linked Links */
a[href^='https'],
a[href^='https']:active,
a[href^='https']:visited {
  color: #187cce;
}

a[href^='https']:hover {
  color: #171135;
  outline: 1px #187cce dashed;
}

a[href^='https']:active {
  color: #3acfc7;
}

a[href='#'] {
  cursor: not-allowed;
}

/* Section Specific */
#data {
  height: 1000px;
}

.dark {
    background: #171135;
}

/* Header */
header {
  background: #171135;
  color: white;
  overflow: hidden;
  padding: 20px 0 0 0;
  position: fixed;
  top: 0;
  /* Keeps it from becoming multiple lines when browser viewport width decreases */
  white-space: nowrap;
  min-width: 100%;
  z-index: 10;
}

header * {
  /* All children of the header */
  margin: 0;
}

header + * {
  /* Margin for first sibling after header to make space for it */
  margin-top: 200px;
}

nav {
  background: #187cce;
}

nav ul {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin: 5px 0 0 0;

}

nav ul li {
  display: inline-block;
  margin: 0 5px;
  width: 20%;
}

nav a {
  color: white;
  font-size: 1.3em;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 15px;
  width: 100%;
}

nav a:hover,
.current-page {
  font-weight: bold;
  text-decoration: underline;
}

nav a:active {
  background: #171135;
  color: white;
  text-decoration: underline;
}



/* Footer */
footer {
  background: #171135;
  bottom: 0;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 10;
}

body > *:nth-last-child(2) {
  /* Element before the footer has margin to leave space for it */
  margin-bottom: 55px;
}

#author {
  border: 5px solid white;
  margin: 0 auto;
  padding: 10px 5%;
  text-align: center;
}

/* Form */

#data {
  transition-delay: 500ms;
  transition-duration: 2s;
}

legend {
  border: 0.5em solid #187cce;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  background: white;
  color: #187cce;
  padding: 10px;
  font-size: 1.2em;
}

fieldset {
  background: white;
  border: 0.5em solid #187cce;
  border-radius: 1em;
  display: flex;
  flex-flow: row wrap;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  margin: 20px 0;
  padding: 10px;
}

fieldset label {
  cursor: pointer;
  display: block;
}

fieldset h3 {
  text-decoration: underline;
  margin: 0;
  padding-bottom: 10px;
}

.column-container {
  align-content: space-between;
  align-items: baseline;
  justify-content: space-around;
  display: flex;
  flex-flow: row wrap;
}

.column {
  margin-left: 10px;
}

textarea {
  height: 100px;
  margin: 10px auto;
  padding: 5px;
  width: 90%;
}

input {
  margin: 5px 2%;
}

#parse-button {
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  font-size: 1.3em;
  padding: 10px 0;
  margin: 0 auto;
  width: 100%;
}

label:hover {
  color: #3acfc7;
  font-weight: bold;
}


#data-input input,
#data-input textarea {
  display: block;
}


.hide {
  overflow: hidden;
  height: 0 !important;
  padding: 0;
  margin: 0;
}
